<div class="container">

    <% if @user.encuesta_final? %>
        <h3 class ="text-center mb-4">Resultados</h3>
        <div class ="result-container mb-4">
          <table class="table">
            <tbody>
              <tr>
                <td><b>Conocimiento General</b></td>
                <td><%= "#{@user.encuesta_inicial.porcentaje_bueno}% correcto"%></td>
              </tr>
              <tr>
                <td><b>Aprendizaje</b></td>
                <td> <%= "#{@user.encuesta_final.porcentaje_bueno}% correcto"%></td>
              </tr>
            </tbody>
          </table>
        </div>

    <% elsif @user.simulaciones.empty?%>
        <h3>Espera a que tu encargado te asigne una simulación</h3>
    <% else %>
        <%= render 'users/sections/stepper' %>
    <% end %>


</div>