.gradient-custom  {
  /* fallback for old browsers */
  background: #00fca8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(0, 252, 168, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(0, 252, 168, 1), rgba(143, 211, 244, 1))
}
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .btn-block {
    display: block;
    width: 100%;
}