<div class='container'>

    <h1>Añadir Simulacion</h1><br/>

    <%= form_for :simulacion, url: user_simulacions_path, method: :post do |f| %>
        <div class="row">

            <div class="col-6">
                <%= f.select :nombre, ["Microinsulto", "Microagresion", "Microinvalidacion"],
                {}, class: "form-select" %>
            </div>
            
            <div class="mt-3">
                <%= f.submit "Añadir", class: "btn btn-primary " %>
                <%= link_to "Volver", show_user_path(@user.id), class: 'btn btn-secondary' %>
            </div>
        </div>

    <% end %>
</div>
