<section id="home-hero">
  <div class ="background-wrapper">
    <%= image_tag("portadafb.png") %>
    <div class = "img-overlay">
      <div class ="container-fluid h-100">
        <div class ="row h-100 justify-content-start align-items-center">
          <div class ="col-12 col-md-6 bg-color h-100">
            <div class="px-5 offset-md-3 col-lg-8 bg-color-box">
              <h1 class="my-4">Title</h1>
              <span>
                <button class="btn-feelink">
                  Ver más
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
