<section id="home-hero">
  <div class ="background-wrapper">
    <%= image_tag("portadafb.png") %>
    <div class = "img-overlay">
      <div class ="container-fluid h-100">
        <div class ="row h-100 justify-content-start align-items-center">
          <div class ="col-12 col-md-6 bg-color h-100">
            <div class="px-5 offset-lg-1 col-md-5 bg-color-box">
              <h4 class="my-4 hero-text">
                Mientras que la tecnología puede generar apatía,
                <span class = "hero-text2"> FEELINK </span> la puede mejorar y hacer un mundo más sano.
              </h4>     
              <span>
                <%= link_to 'Saber Más', experience_path, class: "btn-feelink"%>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>

</section>
