.btn-feelink{
  background-color: #00fca8 !important;
  color: black !important;
  font-weight: bold;
  padding: 8px 20px;
  border-radius:4px;
  text-decoration: none;

}

.secundary-btn{
  background-color:$vivid-orange;
  color: white;
}

.success-btn{
  background-color:$vivid-green;
  color: white;
}

.failure-btn{
  background-color:$red;
  color: white;
}

.danger-btn{
  background-color:$vivid-amber;
  color: white;
}
