<div class='mb-0'>
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
      <strong><%= notice %></strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  
  <% if alert %>
    <% if alert.instance_of? Array%>
      <% alert.each do |a| %>
        <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
          <strong><%= a %></strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        <strong><%= alert %></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  <% end %>
</div>